name: Docker

on:
    workflow_dispatch:
    push:
        branches:
            - main

env:
    DOCKERHUB_USERNAME: ${{ secrets.DOCKER_USERNAME }}
    IMAGE_NAME: m4b-merge  # change if needed
    M4B_TOOL_DOWNLOAD_LINK: 'https://github.com/sandreas/m4b-tool/releases/download/v0.5.2/m4b-tool-0.5.2.tar.gz'

jobs:
    push_to_registries:
        name: Push Docker image to multiple registries (multi-arch)
        runs-on: ubuntu-latest
        permissions:
            packages: write
            contents: read

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            # ✅ Enable ARM emulation
            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3

            # ✅ Enable Buildx
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            # ✅ Login to Docker Hub
            - name: Log into Docker Hub
              if: github.event_name != 'pull_request'
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_PASSWORD }}

            - name: Extract metadata (tags, labels) for Docker
              id: meta
              uses: docker/metadata-action@v5
              with:
                  images: |
                      hackmonker/m4b-merge

            # ✅ Build and push multi-arch image
            - name: Build and push Docker image (multi-arch)
              uses: docker/build-push-action@v5
              with:
                  context: .
                  file: docker/Dockerfile
                  build-args: |
                      M4B_TOOL_DOWNLOAD_LINK=${{ env.M4B_TOOL_DOWNLOAD_LINK }}
                  platforms: linux/amd64,linux/arm64
                  push: ${{ github.event_name != 'pull_request' }}
                  tags: ${{ steps.meta.outputs.tags }}
                  labels: ${{ steps.meta.outputs.labels }}
                  cache-from: type=gha
                  cache-to: type=gha,mode=max
